.navbar #site-title {
    color: #017FC0;
    font-family: "Oleo Script", system-ui;
    font-size: 36pt;
}


body {
    background-color: rgb(238, 238, 238);
}

.column1 {
    width: 5%; /* Adjust as needed */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.column2 {
    width: 95%; /* Adjust as needed */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
